{
    "semi": true,
    "singleQuote": true,
    "printWidth": 110,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "trailingComma": "all",
    "endOfLine": "lf"
}
